################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Akka.Raft/.vs/Akka.Raft/v14/.suo
/Akka.Raft/obj/Debug
/Akka.Raft/packages
